<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="2"
    android:versionName="0.2"
    android:installLocation="2"
    android:compileSdkVersion="28"
    android:compileSdkVersionCodename="9"
    package="com.AfCompany.SpaceWars"
    platformBuildVersionCode="28"
    platformBuildVersionName="9">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="28" />

    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x20000" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false" />


    <application
        android:theme="@ref/0x7f040001"
        android:label="@ref/0x7f030000"
        android:icon="@ref/0x7f020000"
        android:banner="@ref/0x7f010000"
        android:isGame="true">

        <activity
            android:label="@ref/0x7f030000"
            android:name="com.unity3d.player.UnityPlayerActivity"
            android:launchMode="2"
            android:screenOrientation="1"
            android:configChanges="0x40003fff"
            android:hardwareAccelerated="false">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

                <category
                    android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="unityplayer.UnityActivity"
                android:value="true" />
        </activity>

        <meta-data
            android:name="unity.build-id"
            android:value="f099a09c-cf7d-4756-84f1-917ccf915e3b" />

        <meta-data
            android:name="unity.splash-mode"
            android:value="0" />

        <meta-data
            android:name="unity.splash-enable"
            android:value="true" />

        <activity
            android:theme="@ref/0x01030007"
            android:name="com.unity3d.ads.adunit.AdUnitActivity"
            android:configChanges="0x40000fff"
            android:hardwareAccelerated="true" />

        <activity
            android:theme="@ref/0x01030011"
            android:name="com.unity3d.ads.adunit.AdUnitTransparentActivity"
            android:configChanges="0x40000fff"
            android:hardwareAccelerated="true" />

        <activity
            android:theme="@ref/0x01030011"
            android:name="com.unity3d.ads.adunit.AdUnitTransparentSoftwareActivity"
            android:configChanges="0x40000fff"
            android:hardwareAccelerated="false" />

        <activity
            android:theme="@ref/0x01030007"
            android:name="com.unity3d.ads.adunit.AdUnitSoftwareActivity"
            android:configChanges="0x40000fff"
            android:hardwareAccelerated="false" />
    </application>
</manifest>
